@model Dish

<h1>Our Delicious Dishes</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in ViewBag.AllDishes )  // Cast to Dish type
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Chef?.FirstName @dish.Chef?.LastName</td>  
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    </tbody>
</table>
